.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  background-color: #000000;
  color: #ffffff;
  height: 120px;
  position: fixed;
  z-index: 10;
  top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.7em;
  margin-bottom: 30em;
}

.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}

.tweeter-logo {
  font-size: 40pt;
  font-family: "Bungee", cursive;
  color: #ffffff;
}

#arrows {
  color: red;
}
