
.button{
    color: white;
  background-color: #4056A1;
  border-color:#4056A1 ;
  font-size: 35px;
  margin-bottom: 0rem;
}

#tweet-text{
    width: 100%;
    height: 60px;
    font-family:'Source Sans Pro', sans-serif;
   font-weight: 600;
   font-weight: bolder;
   color: rgba(22, 22, 22, 0.904);
   font-size: 35px;
    border: none;
    background-color: #f4f1ec ;
    border-bottom: 5px solid rgba(22, 22, 22, 0.801);
    margin-top: 2em;
    margin-bottom: 1em;
}

.submission{
    font-family: 'Bungee', cursive;
    
}
.counter{
    float: right;
    font-size: 40px;
}

/* tweet container */

.tweet-container{
    margin-top: 3em;
    border: 5px solid rgba(0, 0, 0, 0.582);
}
.tweet-container:hover{
    box-shadow: 10px 5px 15px rgba(81, 95, 99, 0.2); 
}

.tweet-container  header{
    display: flex; 
    align-items: center;     
    justify-content: space-between;     
    font-size: 0.9em;     
    font-weight: 600;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.tweet-left{
    display: flex;
    align-items: center;
    font-size: 15px;
    
}
.tweet-left > img{
    width: 100px;
}

.tweet-content{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 5px solid rgba(22, 22, 22, 0.801);
    padding-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}
.tweet-container > footer{
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
.icons{
    float: right;
    color: #4056A1;
}

.icon:hover{
    color: rgb(223, 179, 84);
}
